<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./stylesheets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/contacto.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/icon" href="/images/logo2.2.png">
</head>

<div class="container-fluid">
       
    <div class="row">
      <div class="col-sm-8">
        <div class="imagen-info">
            <img src="./images/contactos-alumn.png" alt="Constato" id="img-ae" class="icono-info" width="300" height="300">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="info-contenedor">
                <div class="info">
                    <div class="email-icon">
                        <img src="./images/031-mailbox-1.png" alt="correo" class="icon-mail">
                    </div>
                    <div class="info-mail">
                        <h2 class="titulos">- Email</h2>
                        <p class="correo">axlestevez@hotmail.com</p>
                        <p class="correo">angelareyesruiz14@gmail.com</p>
                        <p class="correo">avelar.g.angel.f@gmail.com</p>
                        <p class="correo">jonathan.arroyo213@gmail.com</p>
                    </div>
                </div>
                <div class="info">
                    <div class="email-icon">
                        <img src="./images/039-phone.png" alt="correo" class="icon-mail">
                    </div>
                    <div class="info-mail">
                        <h2 class="titulos">- Tel&eacute;fono</h2>
                        <p class="correo">+02 1 00 1230 2081</p>
                        <p class="correo">+02 1 00 8170 9910</p>
                        <p class="correo">+02 1 00 6030 9279</p>
                        <p class="correo">+02 1 00 7830 0017</p>
                    </div>
                </div> 
      </div>
    </div>
  </div>