
<div class="footer-content">

    <!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-3">

    <!-- Footer Elements -->
    <div class="container">
  
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="contacto-li">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <a href="https://www.facebook.com/AxlEstevezN" class="link" target="_blank">
                <img class="icon-social" src="./images/social/facebook.png" alt="Facebook" width="38" height="38">
            </a>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="contacto-li">
  
            <!--Image-->
            <div class="view overlay z-depth-1-half">
                <a href="https://github.com/AxlEstevez" class="link" target="_blank">
                    <img src="./images/social/github.png" alt="githubb" class="icon-social" width="38" height="38">
                </a>
            </div>
          </div>
          <!--Grid column-->
        
          <!--Grid column-->
        <div class="contacto-li">
  
            <!--Image-->
            <div class="view overlay z-depth-1-half">
                <a href="https://www.instagram.com/axlestevez/" class="link" target="_blank">
                    <img src="./images/social/instagram.png" alt="githubb" class="icon-social" width="38" height="38">
                </a>
            </div>
          </div>
          <!--Grid column-->

         <!-- Copyright -->
         <div class="col">
        <div class="footer-copyright text-center py-2">&copy;Liber Team 2020
      </div>
    </div>
      <!-- Copyright -->

      </div>
      <!--Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
  </footer>
  <!-- Footer -->

</div>
