<div class="header-nav">
  <div class="user-info">
      <p style="font-size:1.5vw" class="user-name"><%= usuario %></p>
      <p style="font-size:1vw" class="slogan">Te damos la bienvenida a tu biblioteca</p>
    </div>
  </div>
</div>