body{
    overflow: hidden;
}
h1{
    color: black;
    margin-left: 25px;
    font-family: Times;
}

.encabezado{
    position: absolute;
    background-image: linear-gradient(to right,#0F2027, #203A43,#2C5364);
    top: 0px;
    width: 100%;
    right: 0px;
    /*border: 1px solid blue;*/
    height: 150px;
    color: #ffffff;
}

.login-form {
    padding: 35px;
    width: 500px;
    left: 500px;
    margin-top: 104px ;
    font-family: Tahoma, Geneva, sans-serif;
    position: relative;
    overflow: scroll;
    height:500px;
    overflow-x: hidden;
}
.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #2b2828;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}
.login-form select{
    width: 90%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
}
.login-form label{
    font-family: Tahoma, Geneva, sans-serif;
}