body{
    background-color: ghostwhite;
    color: black;
    overflow-x: hidden;
}
.nav-content{
    background-color: #e2fff6;
}
.icon{
    height: 100px;
    width: 120px;
}
.header{
    width: 100%;
}

.menu-header{
    background-color: #ffffff;
    height: 150px;
    width: 100%;
    left: 0px;
  }
  

.link-menu{
    color: #4d4949;
    position: relative;
    top: 25px;
    margin-left: 100px;
    font-family: fantasy;
    font-size: 20px;
}

.link-menu:hover{
    color: #82dfc3;
}

.Banner{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 650px;
    top: 150px;
}
.img-banner{
    width: 100%;
    height: 650px;
}

.footer-content{
    position: absolute;
    bottom: -250px;
    background-color: #1d1c1c;
    color: #ffffff;
    height: 100px;
    left: 0px;
    width: 100%;
}
.parrafo-footer{
    position: relative;
    top: 35px;
    left: 100px;
}

.icon-social{
    height: 50px;
    width: 50px;
    margin-left: 50px;
    
}

.contacto-li{
    list-style: none;
    display: inline;
    text-decoration: none;
}

.contacto{
    position: absolute;
    right: 100px;
    bottom: 10px;
}

.link{
    text-decoration: none;

}

a:hover{
    text-decoration: none;
}
