<!DOCTYPE html>
<html lang="en">
<head>
    <title>Liber/Usuario</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./stylesheets/perfil.css" rel="stylesheet">
    <script src="/javascripts/sweetalert2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" type="text/css" href="./stylesheets/css/bootstrap.css">
    <link rel="icon" type="image/icon" href="/images/logo2.2.png">
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin>
</head>
<body>
    <% include partials/headerPerfil %>
        <% include partials/menuPerfil %>
        <% include partials/coleccionContenedor %>
</body>
</html>