<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./stylesheets/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
        <link rel="icon" type="image/icon" href="/images/logo2.2.png">
    </head>
    <body>
        <% include partials/nav %>
	<div class="container-fluid">
        
                <img src="./images/baner.jpg" class=" img-banner "  alt="Responsive image" width="1500" height="1300">
                <br><br>

</div>
        <% include partials/footer %>
    </body>
</html>