<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Sign in</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/main.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
        <link rel="icon" type="image/icon" href="/images/logo2.2.png">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="/javascripts/sweetalert2.js"></script>
		
		<script type="text/javascript">
            $(document).ready(function() {
            $("#show_hide_password a").on('click', function(event) {
            event.preventDefault();
            if($('#show_hide_password input').attr("type") == "text"){
            $('#show_hide_password input').attr('type', 'password');
            $('#show_hide_password i').addClass( "fa-eye-slash" );
            $('#show_hide_password i').removeClass( "fa-eye" );
            }else if($('#show_hide_password input').attr("type") == "password"){
            $('#show_hide_password input').attr('type', 'text');
            $('#show_hide_password i').removeClass( "fa-eye-slash" );
            $('#show_hide_password i').addClass( "fa-eye" );
             }
        });
    });
        </script>

		<style>
		.login-form {
			padding: 30px;
			width: 500px;
			max-width: 80%;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
            top: 40px;
            position: relative;
			border: 1px solid #7c7979;;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
      		max-width: 30%;
      		width: 100px;
			padding: 15px;
			background-color: #2b2828;
      		border-radius: 10px;
     		border: 0;
			box-sizing: border-box;
			cursor: pointer;
      		color: #ffffff;
      		display:block;
      		margin-left: auto;
      		margin-right: auto;
      		margin-top: 6px;
    }
		.icon-login{
			width: 120px;
			height: 120px;
		}

		a, a:hover{
            color:#333
		}
		

		</style>
    </head>
    <body>
		<% include partials/nav %>
		
        <div class="login-form">
			<h1>Iniciar Sesi&oacute;n</h1>
			<form action="Sign_in" method="POST">
				<input type="text" class="form-control" name="identidad" placeholder="Usuario o correo" required>
			
                        <form action="Sign_in" method="POST">
                    <div class="form-group">
                      <div class="input-group" id="show_hide_password">
                        <div class="col-10">
                        <input class="form-control" type="password" name="password" placeholder="Ingresa Contraseña">
                        </div>
                        <div class="col">
                            <div class="input-group-addon">
                                <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                              </div>
                        </div>
                      </div>
					</div>
					<input type="submit" value="Enviar">
                  </form>
			</form>
		</div>

    </body>
</html>