@import url('https://fonts.googleapis.com/css?family=Amarante|Indie+Flower&display=swap');

body {
  background-color: #f5ecec;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.icono {
  height: 60px;
  width: 60px;
}

.text-header {
  font-family: 'Calistoga', serif;
  font-size: 50px;
  color: #ffffff;
}

.boton {
  height: 120px;
  width: 120px;
}

.menu {
  position: absolute;
  top: 250px;
}

.menu-header{
  background-color: #30cc9d;
}

.title-page{
  color:  #ffffff;
  font-family: 'Indie Flower',cursive;
  font-size: 60px;
}

.icon-header-1{
  width: 125px;
  height: 65px;
}