<ul class="ca-menu">
    <li>
        <a href="/addBook">
            <span class="ca-icon">+</span>
            <div class="ca-content">
                <h2 class="ca-main">Libros Nuevos</h2>
                <h3 class="ca-sub">Agrega tus libros</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="/addAutor">
            <span class="ca-icon">+</span>
            <div class="ca-content">
                <h2 class="ca-main">Autores Nuevos</h2>
                <h3 class="ca-sub">Agrega nuevos autores</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="/addEditorial">
            <span class="ca-icon">+</span>
            <div class="ca-content">
                <h2 class="ca-main">Editoriales Nuevas</h2>
                <h3 class="ca-sub">Agregalas aqu&iacute;</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="/addSaga">
            <span class="ca-icon">+</span>
            <div class="ca-content">
                <h2 class="ca-main">Sagas Nuevas</h2>
                <h3 class="ca-sub">Agregalas aqu&iacute;</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="ca-icon">+</span>
            <div class="ca-content">
                <h2 class="ca-main">Generos Nuevos</h2>
                <h3 class="ca-sub">Agregalos aqu&iacute;</h3>
            </div>
        </a>
    </li>
</ul>