<div class="info-contenedor">
    <div class="imagen-info">
        <img src="/images/perfil-1.jpg" alt="Constato" id="img-ae" class="icono-info">
        <a href="https://www.facebook.com/nilangiie" target="_blank">
            <img src="/images/perfil-2.jpg" alt="Constato" id="img-ar" class="icono-info">
        </a>
        <a href="https://www.facebook.com/paco.ag.1" target="_blank">
            <img src="/images/perfil-3.jpg" alt="Constato" id="img-av" class="icono-info">
        </a>
    </div>
    <div class="info-contacto">
        <div class="info">
            <div class="email-icon">
                <img src="./images/031-mailbox-1.png" alt="correo" class="icon-mail">
            </div>
            <div class="info-mail">
                <h2 class="titulos">- Email</h2>
                <p class="correo">axlestevez@hotmail.com</p>
                <p class="correo">avelar.g.angel.f@gmail.com</p>
                <p class="correo">angelareyesruiz14@gmail.com</p>
            </div>
        </div>

        <div class="info">
            <div class="email-icon">
                <img src="./images/039-phone.png" alt="correo" class="icon-mail">
            </div>
            <div class="info-mail">
                <h2 class="titulos">- Tel&eacute;fono</h2>
                <p class="correo">+52 1 55 1235 2581</p>
                <p class="correo">+52 1 55 8170 9915</p>
                <p class="correo">+52 1 55 6530 9279</p>
            </div>
        </div>
    </div>
</div>