<title>Liber/Usuario</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="./stylesheets/perfil.css" rel="stylesheet">
<script src="/javascripts/sweetalert2.js"></script>
<script src="/javascripts/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<link rel="stylesheet" type="text/css" href="./stylesheets/css/bootstrap.css">
<link rel="icon" type="image/icon" href="/images/logo2.1.png">
<link rel="Stylesheet" type="text/css" href="./stylesheets/perfil.css">