<script type="text/javascript">
    Swal.fire({ 
        icon: 'warning',
        title: 'Oops ...',
        text: 'Contraseña inconrrecta' ,
        showConfirmButton: false,
        timer: 100000 ,
        footer: '<a href=\"/Sign_in\" class=\"error\">Regresar</a>'
        });
</script>