<script type="text/javascript">
    Swal.fire({ 
        title: 'Acceso no permitido',
        imageUrl: './images/error.png',
        imageWidth: 200,
        imageHeight: 200,
        text: 'Inicia sesión para ingresar',
        showConfirmButton: false,
        timer: 100000 ,
        footer: '<a href=\"/Sign_in\" class=\"error\">Iniciar sessión</a>'
        });
</script>