<script type="text/javascript">
    Swal.fire({ 
        icon: 'error',
        title: 'Oops ...',
        text: 'Estamos experimentando problemas'+
            'Perdón por las molestias causadas' ,
        showConfirmButton: false,
        timer: 100000 ,
        footer: '<a href=\"/\">Regresar</a>'
        });
</script>