<script type="text/javascript">
    Swal.fire({ 
        icon: 'error',
        title: 'Oops ...',
        text: 'Los datos proporcionados ya estan asociados a una cuenta :c' ,
        showConfirmButton: false,
        footer: '<a href="/Sign_in" class=\"label\">¿Inicar sesión?</a>'
    });
</script>