<script type="text/javascript">
    Swal.fire({ 
        icon: 'error',
        title: 'Oops ...',
        text: 'tu contraseña debe tener más de 8'+
            'caracteres y menos de 16 ' ,
        showConfirmButton: false,
        timer: 1500,
        footer: '<a href="/Sign_up" class=\"label\"">Regresar</a>'
    });
    
</script>