<script type="text/javascript">
    Swal.fire({ 
        icon: 'warning',
        title: 'Oops ...',
        text: 'Usuario no encontrado',
        showConfirmButton: false,
        timer: 100000 ,
        footer: '<a href=\"/Sign_up\" class=\"error\">¿Registrarse?</a>'
        });
</script>