<script type="text/javascript">
    Swal.fire({ 
        icon: 'warning',
        title: 'Oops ...',
        text: 'Ingresa los campos que se piden',
        showConfirmButton: false,
        timer: 100000 ,
        footer: '<a href=\"/Sing_in\" class=\"error\">Regresar</a>'
        });
</script>