<div class="container menu-option text-center">
    <a style="text-decoration: none;" class="boton-menu" href="/">
        <img src="/images/home.png" class="icono-menu" title="Home">
    </a>
    <a style="text-decoration: none;" class="boton-menu" href="/Sign_in">
        <img src="/images/login2.png" class="icono-menu" title="Inicio de sesi&oacute;n">
    </a>
    <a style="text-decoration: none;" class="boton-menu" href="/Sign_up">
        <img src="/images/registrate.png" class="icono-menu" title="Registro de usuarios">
    </a>
    <a style="text-decoration: none;" class="boton-menu" href="">
        <img src="/images/contacto.png" class="icono-menu" title="Contacto">
    </a>
    <a style="text-decoration: none;" class="boton-menu" href="">
        <img src="/images/about.png" class="icono-menu" title="Acerca de Liber">
    </a>
    <a style="text-decoration: none;" class="boton-menu" href="">
        <img src="/images/preguntas.png" class="icono-menu" title="Faq's">
    </a>
</div>