<div class="menu-perfil">
    <ul>
        <li class="menu-item">
            <img src="./images/logo2.2.png" class="icon" alt="Liber">
        </li>
    </ul>
    <h2 class="menu-titulo">Men&uacute;</h2>
    <div class="contenedor-menu">
        <ul> 
            <li class="menu-item">
                <a class="link-menu" href="/coleccion">Colecci&oacute;n</a>
            </li>
            <li class="menu-item">
                <a class="link-menu" href="#">Lista de deseos</a>
            </li>
            <li class="menu-item">
                <a class="link-menu" href="/addBook">Nuevos Libros</a>
            </li>
            <li class="menu-item">
                <a class="link-menu" href="/config">Informaci&oacute;n de usuario</a>
            </li>
            <li class="menu-item">
                <a class="link-menu" href="/salir">Cerrar sesi&oacute;n</a>
            </li>
        </ul>
    </div> 
</div>