<nav class="navbar navbar-expand-sm menu-header nav">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <img class="icon" src="/images/logo2.1.png">
            </a>
        </li>
        <li class="nav-item nav-li">
            <a class="link-menu nav-link" href="/">
                Inicio
            </a>
        </li>
        <li class="nav-item">
            <a class="link-menu nav-link" href="/Sign_in">
                Iniciar Sesi&oacute;n
            </a>
        </li>
        <li class="nav-item">
            <a class="link-menu nav-link" href="/Sign_up">
                Registro
            </a>
        </li>
        <li class="nav-item">
            <a class="link-menu nav-link" href="/">
                Acerca de
            </a>
        </li>
        <li class="nav-item">
            <a class="link-menu nav-link" href="/contacto">
                Contacto
            </a>
        </li>
    </ul>
</nav>