<nav class="navbar navbar-expand-sm justify-content-center menu-header">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="link-menu nav-link" href="/">
                        <img class="icon" src="/images/libros.png">
                    </a>
                </li>
            </ul>
        </nav>