<div class="contenedor" id="contendedor">
    <div class="libros">
        <div class="imagen-portada">
            <img src="https://static.cegal.es/imagenes/marcadas/9788490/978849070739.gif" 
            alt="portada" class="portada-libro">
        </div>
        <div class="info-libro">
            <p id="titulo">Jaque al Psicoanalista</p>
            <p id="autor">Jhon Katzenbach</p>
        </div>
    </div>
    <div class="libros">
        <div class="imagen-portada">
            <img src="https://static.cegal.es/imagenes/marcadas/9788490/978849070739.gif" 
            alt="portada" class="portada-libro">
        </div>
        <div class="info-libro">
            <p id="titulo">Jaque al Psicoanalista</p>
            <p id="autor">Jhon Katzenbach</p>
        </div>
    </div>
    <div class="filtros">
        autor
    </div>
</div>