<div class="container menu-option text-center">
    <a style="text-decoration: none;" class="boton-menu" href="/add">
        <img src="/images/add-folder.png" class="icono-menu" title="Agregar elementos nuevos a tu colecci&oacute;n">
    </a>
    <a style="text-decoration: none;" class="boton-menu" href="">
        <img src="/images/busqueda.png" class="icono-menu" title="Busca dentro de tu colecci&oacute;n">
    </a>
    <a style="text-decoration: none;" class="boton-menu" href="">
        <img src="/images/ojos.png" class="icono-menu" title="Ver colecci&oacute;n">
    </a>
    <a style="text-decoration: none;" class="boton-menu" href="">
        <img src="/images/notas.png" class="icono-menu" title="Modificar elementos">
    </a>
    <a style="text-decoration: none;" class="boton-menu" href="">
        <img src="/images/basura.png" class="icono-menu" title="Eliminar de colecci&oacute;n">
    </a>
    <a style="text-decoration: none;" class="boton-menu" href="">
        <img src="/images/salida.png" class="icono-menu" title="Cerrar sesi&oacute;n">
    </a>
</div>