<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Acerca de</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./stylesheets/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/contacto.css">
        <link rel="icon" type="image/icon" href="/images/logo2.2.png">
    </head>
    <body>
        <% include partials/nav %>
        <div class="container">
            <div class="abs-center">
                <div class="col-sm-12s">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <br>
                            <div class="panel-heading"><h1>--Nosotros--</h1></div><br>
                          <div class="panel-body">Nuestro sitio está encargado del manejo, 
                        clasificación, almacenamiento y recuperación de datos, es por eso
                          que en general se encarga de gestionar los libros que el usuario
                          registre en la sección de Coleccion. Nos encargaremos de facilitar
                          la gestión de los libros, pero no solo de los que el usuario tenga
                          en su biblioteca personal, si no tambien podra contar con una
                          sección que contendrá los deseos del usuario, es decir, el material
                          que le falta a su colección. El usuario tendrá la capacidad de
                          visualizar toda su biblioteca desde su celular o computador para
                          el mejor manejo de este.

                        </div>
                        <br><br>
                        <img src="./images/libros.jpg" class="img-a" alt="Responsive image">
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <br>
        <% include partials/footer %>
    </body>
</html>