<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Liber|Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./stylesheets/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/add_book.css">
        <link rel="icon" type="image/icon" href="/images/logo2.1.png">
        <link rel="stylesheet" type="text/css" href="./stylesheets/perfil.css" >
        <script src="./javascripts/main.js"></script>
    </head>
    <body>
        <% include partials/headerPerfil %>
        <% include partials/menuPerfil %>
        <div class="addBook">
            <h1>Nuevo Libro</h1>
            <div class="login-form">
                <form action="addBook" method="POST">
                    <label>ISBN</label>
                    <input type="text" name="isbn" placeholder="ISBN" required><br/>
                    <label>Titulo del libro</label>
                    <input type="text" name="titulo" placeholder="Nombre del Libro" required><br/>
                    <label>Nombre del autor</label>
                    <select name="autor" id="Autor" onchange="verificaSelect();">
                        <option value="null"> </option>
                        <% if(autors.length > 0){ %>
                            <% for(var i = 0; i < autors.length;i++){ %>
                                <option value=<%=autors[i].nombre + "#" + autors[i].apellido%>> 
                                    <%=autors[i].nombre + " " + autors[i].apellido %>
                                </option> 
                            <% } %>
                        <% } %>
                        <option value="otro" id="otro">otro</option>
                    </select>
                    <label>Edicion</label>
                    <input type="text" name="edicion" placeholder="1" required><br/>
                    <label>p&aacute;ginas</label>
                    <input type="text" name="paginas" placeholder="páginas del libro" required><br/>
                    <label>Idioma</label>
                    <input type="text" name="idioma" placeholder="Idioma" required><br/>
                    <label>Género</label>
                    <select name="genero">
                        <option value=" ">Seleccionar Género </option>
                        <option value="Romantico">Romantico</option>
                        <option value="Drama">Drama</option>
                        <option value="Misterio">Misterio</option>
                        <option value="Terror">Terror</option>
                        <option value="Comedia">Comedia</option>
                        <option value="Infantil">Infantil</option>
                        <option value="Tecnologia">Tecnología</option>
                        <option value="Novela">Novela</option>
                        <option value="Aventura">Aventura</option>
                        <option value="CienciaFiccion">Ciencia Ficción</option>
                        <option value="Poesia">Poesía</option>
                        <option value="Autoayuda">Autoayuda</option>
                        <option value="Historia">Historia</option>
                    </select>
                   <br/>
                   <input type="text" id="lista" name="lista" value="0" style="display: none;">
                    <input type="submit" value="Agregar">
                </form>
                <div id="autor">
                    <input type="button" id="cerrar" value="x" onclick="cerrarVentana();">
                    <h3>Autor nuevo</h3>
                    <label for="nombre: ">Nombre</label>
                    <input type="text" id="nombreAutor">
                    <label for="apellidos: ">Apellidos</label>
                    <input type="text" id="apellidosAutor">
                    <input type="button" id="enviarAutor" value="Enviar" onclick="agregaAutor();">
                </div>
            </div>
		</div>
    </body>
</html>