<!DOCTYPE html>
<html lang="es">
<head>
	<meta charsert="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale, shrlink-to-fit=no"
	<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
</head>
<body>
	<% include partials/head %>
    <form action="#" class="form-group">
	  <input type="text" placeholder="ISNB" id="isbn" name="isbn">
	  <input type="text" placeholder="titulo" id="titulo" name="title">
	  <input type="text" placeholder="edicion" id="edicion" name="edicion">
	  <input type="text" placeholder="paginas" id="paginas" name="pages">
	  <input type="text" placeholder="año" id="anio" name="anio">
	</form>
</body>
</html>