<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Sing In</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/main.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
        <link rel="icon" type="image/icon" href="/images/libros.png">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="/javascripts/sweetalert2.js"></script>
        <style>
		.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
            top: 100px;
            position: relative;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #30cc9d;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		.icon-login{
			width: 120px;
			height: 120px;
		}
		</style>
    </head>
    <body>
        <% include partials/nav %>
        <div class="login-form">
		<center><img src="./images/login-1.png" alt="icono" class="icon-login"></center>
		<h1>Iniciar sesi&oacute;n</h1>
		<form action="Sign_in" method="POST">
			<input type="text" name="identidad" placeholder="Username o correo" required>
			<input type="password" name="password" placeholder="Password" required>
			<input type="submit">
		</form>
	</div>
    </body>
</html>