<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Sign Up Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/main.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
        <link rel="icon" type="image/icon" href="/images/libros.png">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm justify-content-center menu-header">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="link-menu nav-link" href="/">
                        <img class="icon" src="/images/libros.png">
                    </a>
                </li>
            </ul>
        </nav>
        <!---Formulario de registro-->
        <% include partials/Form_sing_up %>
        <script text="text/javascript">
            function showPass(){
                var object = document.getElementById("pass");
                var boton = document.getElementById("botonPass"); 
                if(object.type == "password")
                {
                    object.type = "text";
                    boton.innerHTML = "Ocultar Contrase&ntilde;a";
                }
                else
                {
                    object.type = "password";
                    boton.innerHTML = "Mostrar Contrase&ntilde;a";
                }
            }
        </script>
        <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
            <div class="container text-center">
                <small>Copyright &copy; AxlEstevez Team</small>
            </div>
        </footer>
    </body>
</html>