<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Sing In</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/main.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
        <link rel="icon" type="image/icon" href="/images/logo2.1.png">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="/javascripts/sweetalert2.js"></script>
        <script src="/javascripts/main.js"></script>
        <style>
		.login-form {
			padding: 35px;
			width: 550px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
            top: 0px;
            position: relative;
			border: 1px solid #7c7979;;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #2b2828;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
        }
        .login-form select{
            width: 90%;
            padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
        }
        .login-form label{
            font-family: Tahoma, Geneva, sans-serif;
        }
        .evento{
            width: 220px;
            height: 35px;
			padding: 5px;
			background-color: #727272;
			border: 0;
			cursor: pointer;
			font-weight: bold;
            color: #ffffff;
            margin-bottom: 10px;
        }
		</style>
    </head>
    <body>
		<% include partials/nav %>
        <div class="login-form">
			<h1>Registro</h1>
			<form action="Sign_up" method="POST">
                <input type="text" name="nombre" placeholder="Nombre*" required>
                <input type="text" name="apellido_p" placeholder="Apellido Paterno*" required>
                <input type="text" name="apellido_m" placeholder="Apellido Materno*" required>
                <label for="sexo" style="margin-right:5px;">Sexo*</label>
                <select name="sexo">
                    <option value="null"></option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                </select>
                <input type="text" name="correo" placeholder="ejemplo@correo.com*" required>
                <input type="text" name="userName" placeholder="Nombre de usuario*" required>
                <input id="pass" type="password" name="password" 
                    pattern=".{8,16}" placeholder="Contraseña 8 a 16 caracteres*" required>
                <input class="evento" type="button" id="botonPass" 
                    value="Mostrar Contraseña" onclick="showPass();">
				<input type="submit" value="Enviar">
			</form>
		</div>
    </body>
</html>