<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/user_head %>
</head>
<body>
    <% if(mensaje == '1'){ %>
        <script type="text/javascript">
            Swal.fire({ 
                icon: 'success',
                title: 'Bienvenido',
                text: 'Presiona ok para continuar' 
            });
        </script>
    <% } %>     
    <% include partials/header %>
    <% include partials/user_body %>
</body>
</html>