<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="icon" type="image/icon" href="/images/error-info.png">
    <style>
        .label{
            color: #ffffff;
            text-decoration: none;
            background-color: #39a5c5;
            font-size: 15px;
            width: 115px;
            text-align: center;
            height: 25px;
            border-radius: 15px;
        }
        .label:hover{
            
            background-color: #3db18a;
            text-decoration: none;
            font-size: 15px;
        }
        .error{
            color: #ffffff;
            text-decoration: none;
            background-color: #39a5c5;
            font-size: 15px;
            width: 115px;
            text-align: center;
            height: 25px;
            border-radius: 15px;
        }
        .error:hover{
            text-decoration: none;
            background-color: #f73939;
        }
    </style>
</head>
<body>
    <% if(error == 1){ %>
        <% include partials/error1 %> 
    <% } %>
    <% if(error == 2){ %>
        <% include partials/error2 %> 
    <% } %>
    <% if(error == 3){ %>
        <% include partials/error3 %> 
    <% } %>
    <% if(error == 4){ %>
        <% include partials/error4 %> 
    <% } %>
    <% if(error == 5){ %>
        <% include partials/error5 %> 
    <% } %>
    <% if(error == 6){ %>
        <% include partials/error6 %> 
    <% } %>
</body>
</html>